<ion-header mode="ios">
    <ion-toolbar color="primary" class="top-color">
      <ion-buttons slot="start"> 
          <ion-menu-button class="top-color"></ion-menu-button>
      </ion-buttons>
      <ion-title >Notifications</ion-title>
      <ion-buttons slot="end" color="light" class="btn-position">
          <a href="/notifications" style="color:white">
            <ion-icon name="notifications"  size="large" ></ion-icon>
            <ion-badge class="badge-style" color="light">77</ion-badge>
            </a>
      </ion-buttons>
    </ion-toolbar> 
</ion-header>
  
<ion-content>
    <ion-grid>
        <ion-row>
                <ion-col size="12">
                        <ion-list no-margin>
                                <ion-card mode="md">
                                        <!-- [routerLink]="['/', 'tabs', 'players', 'show-player', player.id]" -->
                                        <ion-card-content>
                                                <ion-item lines="none" no-padding detail="false">
                                                        <ion-thumbnail slot="start">
                                                                <img src="../../assets/img/dashboard.fw.png">
                                                        </ion-thumbnail>
                                                        <ion-row>
                                                                <ion-col size="12">
                                                                        <p class="p-color">
                                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                        </p>
                                                                </ion-col>
                                                                <ion-col size="12">
                                                                  <ion-icon name="alarm" size="small" mode="ios" color="medium" class="ion-float-left pd-t"></ion-icon>
                                                                  <ion-label color="medium" padding-left><small>2 hour Ago</small></ion-label>
                                                                </ion-col>
                                                        </ion-row>
                                                        
                                                </ion-item>
                                        </ion-card-content>
                                </ion-card>
                                <ion-card mode="md">
                                    <!-- [routerLink]="['/', 'tabs', 'players', 'show-player', player.id]" -->
                                    <ion-card-content>
                                            <ion-item lines="none" no-padding detail="false">
                                                    <ion-thumbnail slot="start">
                                                            <img src="../../assets/img/dashboard.fw.png">
                                                    </ion-thumbnail>
                                                    <ion-row>
                                                            <ion-col size="12">
                                                                    <p class="p-color">
                                                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                    </p>
                                                            </ion-col>
                                                            <ion-col size="12">
                                                              <ion-icon name="alarm" size="small" mode="ios" color="medium" class="ion-float-left pd-t"></ion-icon>
                                                              <ion-label color="medium" padding-left><small>2 hour Ago</small></ion-label>
                                                            </ion-col>
                                                    </ion-row>
                                                    
                                            </ion-item>
                                    </ion-card-content>
                            </ion-card>
                            <ion-card mode="md">
                                <!-- [routerLink]="['/', 'tabs', 'players', 'show-player', player.id]" -->
                                <ion-card-content>
                                        <ion-item lines="none" no-padding detail="false">
                                                <ion-thumbnail slot="start">
                                                        <img src="../../assets/img/dashboard.fw.png">
                                                </ion-thumbnail>
                                                <ion-row>
                                                        <ion-col size="12">
                                                                <p class="p-color">
                                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                </p>
                                                        </ion-col>
                                                        <ion-col size="12">
                                                          <ion-icon name="alarm" size="small" mode="ios" color="medium" class="ion-float-left pd-t"></ion-icon>
                                                          <ion-label color="medium" padding-left><small>2 hour Ago</small></ion-label>
                                                        </ion-col>
                                                </ion-row>
                                                
                                        </ion-item>
                                </ion-card-content>
                        </ion-card>
                        <ion-card mode="md">
                            <!-- [routerLink]="['/', 'tabs', 'players', 'show-player', player.id]" -->
                            <ion-card-content>
                                    <ion-item lines="none" no-padding detail="false">
                                            <ion-thumbnail slot="start">
                                                    <img src="../../assets/img/dashboard.fw.png">
                                            </ion-thumbnail>
                                            <ion-row>
                                                    <ion-col size="12">
                                                            <p class="p-color">
                                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                            </p>
                                                    </ion-col>
                                                    <ion-col size="12">
                                                      <ion-icon name="alarm" size="small" mode="ios" color="medium" class="ion-float-left pd-t"></ion-icon>
                                                      <ion-label color="medium" padding-left><small>2 hour Ago</small></ion-label>
                                                    </ion-col>
                                            </ion-row>
                                            
                                    </ion-item>
                            </ion-card-content>
                        </ion-card>
                        <ion-card mode="md">
                                        <!-- [routerLink]="['/', 'tabs', 'players', 'show-player', player.id]" -->
                                        <ion-card-content>
                                                <ion-item lines="none" no-padding detail="false">
                                                        <ion-thumbnail slot="start">
                                                                <img src="../../assets/img/dashboard.fw.png">
                                                        </ion-thumbnail>
                                                        <ion-row>
                                                                
                                                                <ion-col size="12">
                                                                        <p class="p-color">
                                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                        </p>
                                                                </ion-col>
                                                                <ion-col size="12">
                                                                        <ion-icon name="alarm" size="small" mode="ios" color="medium" class="ion-float-left pd-t"></ion-icon>
                                                                        <ion-label color="medium" padding-left><small>2 hour Ago</small></ion-label>
                                                                </ion-col>
                                                        </ion-row>
                                                        
                                                </ion-item>
                                        </ion-card-content>
                        </ion-card>
                        <ion-card mode="md">
                                <!-- [routerLink]="['/', 'tabs', 'players', 'show-player', player.id]" -->
                                <ion-card-content>
                                        <ion-item lines="none" no-padding detail="false">
                                                <ion-thumbnail slot="start">
                                                        <img src="../../assets/img/dashboard.fw.png">
                                                </ion-thumbnail>
                                                <ion-row>
                                                        
                                                        <ion-col size="12">
                                                                <p class="p-color">
                                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                </p>
                                                        </ion-col>
                                                        <ion-col size="12">
                                                                <ion-icon name="alarm" size="small" mode="ios" color="medium" class="ion-float-left pd-t"></ion-icon>
                                                                <ion-label color="medium" padding-left><small>2 hour Ago</small></ion-label>
                                                        </ion-col>
                                                </ion-row>
                                                
                                        </ion-item>
                                </ion-card-content>
                        </ion-card>
                        <ion-card mode="md">
                                <!-- [routerLink]="['/', 'tabs', 'players', 'show-player', player.id]" -->
                                <ion-card-content>
                                        <ion-item lines="none" no-padding detail="false">
                                                <ion-thumbnail slot="start">
                                                        <img src="../../assets/img/dashboard.fw.png">
                                                </ion-thumbnail>
                                                <ion-row>
                                                        
                                                        <ion-col size="12">
                                                                <p class="p-color">
                                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                </p>
                                                        </ion-col>
                                                        <ion-col size="12">
                                                                <ion-icon name="alarm" size="small" mode="ios" color="medium" class="ion-float-left pd-t"></ion-icon>
                                                                <ion-label color="medium" padding-left><small>2 hour Ago</small></ion-label>
                                                        </ion-col>
                                                </ion-row>
                                                
                                        </ion-item>
                                </ion-card-content>
                        </ion-card>
                        <ion-card  mode="md">
                                <!-- [routerLink]="['/', 'tabs', 'players', 'show-player', player.id]" -->
                                <ion-card-content>
                                        <ion-item lines="none" no-padding detail="false">
                                                <ion-thumbnail slot="start">
                                                        <img src="../../assets/img/dashboard.fw.png">
                                                </ion-thumbnail>
                                                <ion-row>
                                                        
                                                        <ion-col size="12">
                                                                <p class="p-color">
                                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                </p>
                                                        </ion-col>
                                                        <ion-col size="12">
                                                                <ion-icon name="alarm" size="small" mode="ios"color="medium" class="ion-float-left pd-t"></ion-icon>
                                                                <ion-label color="medium" padding-left><small>2 hour Ago</small></ion-label>
                                                        </ion-col>
                                                </ion-row>
                                                
                                        </ion-item>
                                </ion-card-content>
                        </ion-card>
                        </ion-list>
                </ion-col>
        </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
        <ion-toolbar class="tbar-color">
                <ion-tabs> 
                        <ion-tab-bar slot="bottom">
                        <ion-tab-button href="dashboard" color="primary">
                                <ion-label color="primary" class="p-style">Home</ion-label>
                                <ion-icon name="home" size="large" color="primary"></ion-icon>
                        </ion-tab-button>
                       
                        <ion-tab-button  href="profile" color="medium"  color="medium">
                        <ion-label color="medium" class="p-style">Profile</ion-label>
                        <ion-icon name="person" size="large" color="medium"></ion-icon>
                        </ion-tab-button>
                        <ion-tab-button href="workouts" color="medium">
                          <ion-label color="medium" class="p-style">Booking</ion-label>
                          <ion-icon name="aperture" size="large" color="medium"></ion-icon>
                          
                        </ion-tab-button>
                        <ion-tab-button  href="services" color="medium"  color="medium">
                                        <ion-label color="medium" class="p-style">Services</ion-label>
                                        <ion-icon name="apps" size="large" color="medium"></ion-icon>
                         </ion-tab-button>
                        <ion-tab-button href="schedules" color="medium">
                                <ion-label color="medium" class="p-style">Promotions</ion-label>
                                <ion-icon name="person-add" size="large" color="medium"></ion-icon>
                        </ion-tab-button>
                        
                        </ion-tab-bar>
                </ion-tabs>
            </ion-toolbar>
</ion-footer>

