<ion-header mode="ios" no-border>
                <ion-toolbar >
                        <ion-buttons slot="start">
                        <ion-back-button defaultHref="auth" color="primary" mode="md"></ion-back-button>
                        </ion-buttons>
                </ion-toolbar>
        </ion-header>
        <ion-content class="bg-image">
                <ion-grid class="grid" margin-top>           
                        <ion-row align-items-center justify-content-center>
                                <ion-col size="12" align-self-center> 
                                        <div class="ion-text-center ion-padding-top">
                                                <img src="../../../assets/img/logo.png"/>
                                        </div>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="6">
                                        <ion-card class="card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="person" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="text" color="primary" placeholder="Firstname"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                                <ion-col align-self-center size="6">
                                        <ion-card class="card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-input type="text" color="primary" placeholder="Lastname"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="mail" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="email" color="primary" placeholder="Email Address"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="lock" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="password" color="primary" placeholder="Password"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="pin" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="text" color="primary" placeholder="Address Line 1"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="pin" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="text" color="primary" placeholder="Address Line 2"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="planet" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="text" color="primary" placeholder="Country"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="planet" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="text" color="primary" placeholder="State"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="6">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="planet" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="text" color="primary" placeholder="City"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                                <ion-col align-self-center size="6">
                                                <ion-card class="card-mr-t card" mode="ios">
                                                        <ion-card-content class="card-content">
                                                                <ion-item lines="none" mode="ios" no-padding>
                                                                        <ion-input type="text" color="primary" placeholder="Zipcode"></ion-input>
                                                                </ion-item>
                                                        </ion-card-content>
                                                </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="phone-portrait" color="primary" slot="start"></ion-icon> 
                                                                <ion-input type="number" color="primary" placeholder="Phone No"></ion-input>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="calendar" color="primary" slot="start"></ion-icon> 
                                                                <ion-datetime displayFormat="MM/DD/YYYY" placeholder="DOB" min="1900-03-14"></ion-datetime>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-card class="card-mr-t card" mode="ios">
                                                <ion-card-content class="card-content">
                                                        <ion-item lines="none" mode="ios" no-padding>
                                                                <ion-icon name="contacts" color="primary" slot="start"></ion-icon> 
                                                                <ion-select color="primary"  placeholder="Gender">
                                                                        <ion-select-option value="f" class="color">Female</ion-select-option>
                                                                        <ion-select-option value="m" class="color" selected>Male</ion-select-option>
                                                                </ion-select>
                                                        </ion-item>
                                                </ion-card-content>
                                        </ion-card>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-button 
                                        class="btn-primary-radius" 
                                        expand="block" 
                                        shape="round" 
                                        size="large" 
                                        mode="md"
                                        routerLink="/dashboard"
                                        routerDirection="forward"
                                        >Register</ion-button>
                                </ion-col>
                        </ion-row>
                        <ion-row align-items-center justify-content-center>
                                <ion-col align-self-center size="12">
                                        <ion-button
                                        type="button"
                                        fill="clear"
                                        expand="block"
                                        class="ion-text-capitalize"
                                        no-padding
                                        color="primary"
                                        routerLink="/auth"
                                        routerDirection="forward"
                                        >
                                       Already Sign Up? Login 
                                        </ion-button>
                                </ion-col>
                        </ion-row>
                        
                </ion-grid>
        </ion-content> 
