 .bg-image {
    --background:none;
    background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.85)),url('../../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid {
  --ion-grid-padding: 20px;
  --ion-grid-padding-md: 50px;
  --ion-grid-padding-lg: 50px;
  --ion-grid-padding-sm: 50px;
  --ion-grid-padding-lg: 50px;
  --ion-grid-padding-xl: 50px;
}

ion-col {
  --ion-grid-column-padding: 5px;
}



.card {
  --background: #fff;
  border-radius: 35px;
  margin: 16px 10px;
}
.card-content {
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-mr-t { margin-top: 0px;}

.btn-primary-radius {
  --border-radius: 35px;
  margin: 10px;
  text-transform: none;
}

.fb-btn {
    color: #395599 !important;
    font-size: 30px;
    padding-right: 5px;
    // --border-radius: none;
}

.tw-btn {
    color: #1C9DEB !important;
    font-size: 30px;
    padding-left: 5px;
    // --border-radius: none;
}

  h2 { 
      width:100%;
      border-bottom: 1px solid var(--ion-color-primary);
      line-height:0.1em; margin: 15px 0 15px; 
    } 
  .btn-social {
    display: inline;
  }
  @media screen and(max-width : 530px) {
    
  .fb-btn {
    font-size: 18px;
    // --border-radius: none;
  }

  .tw-btn {
    font-size: 18px;
    padding-left: 0px;
    // --border-radius: none;
  }

  h2 { width:100%;border-bottom: 1px solid var(--ion-color-primary); line-height:0.1em; margin:15px 0 15px; } 
}

@media screen and(max-width : 350px) {
    
  .fb-btn {
    font-size: 18px;
    padding-right: 0px;
    // --border-radius: none;
  }
}












































































































  