<ion-header mode="ios">
  <ion-toolbar color="primary" class="top-color">
      <ion-buttons slot="start"> 
          <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    <ion-title color="light">Promotions</ion-title>
    <ion-buttons slot="end" color="light">
        <a href="/notifications" style="color:white">
          <ion-icon name="notifications"  size="large" ></ion-icon>
          </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
    <ion-grid class="grid">
      <ion-row  no-padding>
          <ion-col size="12" no-padding>
            <ion-card class="card" routerLink="/schedule-details" routerDirection="forward">
              <ion-card-header no-padding>
                  <img src="../../assets/img/dashboard.fw.png" alt="Card img">
                  <div class="myOverlay">
                      <div class="centered"><h3>Title XYZ</h3></div>
                   </div>
              </ion-card-header>
              
              <ion-card-content class="card-content">
                <p class="p-style">
                    Lorem Ipsum has been the industry's standard dummy text ever since. 
                </p>
              </ion-card-content>
            </ion-card>
            <ion-card class="card" routerLink="/schedule-details" routerDirection="forward">
                <ion-card-header no-padding>
                    <img src="../../assets/img/dashboard.fw.png" alt="Card img">
                    <div class="myOverlay">
                        <div class="centered"><h3>Title XYZ</h3></div>
                     </div>
                </ion-card-header>
                
                <ion-card-content class="card-content">
                  <p class="p-style">
                      Lorem Ipsum has been the industry's standard dummy text ever since. 
                  </p>
                </ion-card-content>
            </ion-card>
            <ion-card class="card" routerLink="/schedule-details" routerDirection="forward">
                <ion-card-header no-padding>
                    <img src="../../assets/img/dashboard.fw.png" alt="Card img">
                    <div class="myOverlay">
                        <div class="centered"><h3>Title XYZ</h3></div>
                      </div>
                </ion-card-header>
                
                <ion-card-content class="card-content">
                  <p class="p-style">
                      Lorem Ipsum has been the industry's standard dummy text ever since. 
                  </p>
                </ion-card-content>
            </ion-card>
            <ion-card class="card" routerLink="/schedule-details" routerDirection="forward">
                <ion-card-header no-padding>
                    <img src="../../assets/img/dashboard.fw.png" alt="Card img">
                    <div class="myOverlay">
                        <div class="centered"><h3>Title XYZ</h3></div>
                      </div>
                </ion-card-header>
                
                <ion-card-content class="card-content">
                  <p class="p-style">
                      Lorem Ipsum has been the industry's standard dummy text ever since. 
                  </p>
                </ion-card-content>
            </ion-card>
            <ion-card class="card" routerLink="/schedule-details" routerDirection="forward" >
                <ion-card-header no-padding>
                    <img src="../../assets/img/dashboard.fw.png" alt="Card img">
                    <div class="myOverlay">
                        <div class="centered"><h3>Title XYZ</h3></div>
                      </div>
                </ion-card-header>
                
                <ion-card-content class="card-content">
                  <p class="p-style">
                      Lorem Ipsum has been the industry's standard dummy text ever since. 
                  </p>
                </ion-card-content>
            </ion-card>
            <ion-card class="card"  routerLink="/schedule-details" routerDirection="forward">
                <ion-card-header no-padding>
                    <img src="../../assets/img/dashboard.fw.png" alt="Card img">
                    <div class="myOverlay">
                        <div class="centered"><h3>Title XYZ</h3></div>
                      </div>
                </ion-card-header>
                
                <ion-card-content class="card-content">
                  <p class="p-style">
                      Lorem Ipsum has been the industry's standard dummy text ever since. 
                  </p>
                </ion-card-content>
            </ion-card>

          </ion-col>
      </ion-row>
</ion-grid>

</ion-content>

<ion-footer>
    <ion-toolbar class="tbar-color">
            <ion-tabs> 
                    <ion-tab-bar slot="bottom">
                    <ion-tab-button href="dashboard" color="medium">
                            <ion-label color="medium" class="p-style-tab">Home</ion-label>
                            <ion-icon name="home" size="large" color="medium"></ion-icon>
                    </ion-tab-button>
                   
                    <ion-tab-button  href="profile" color="medium"  color="medium">
                    <ion-label color="medium" class="p-style-tab">Profile</ion-label>
                    <ion-icon name="person" size="large" color="medium"></ion-icon>
                    </ion-tab-button>
                    <ion-tab-button href="workouts" color="medium">
                      <ion-label color="medium" class="p-style-tab">Booking</ion-label>
                      <ion-icon name="aperture" size="large" color="medium"></ion-icon>
                      
                    </ion-tab-button>
                    <ion-tab-button  href="services" color="medium"  color="medium">
                                    <ion-label color="medium" class="p-style-tab">Services</ion-label>
                                    <ion-icon name="apps" size="large" color="medium"></ion-icon>
                     </ion-tab-button>
                    <ion-tab-button href="schedules" color="primary">
                            <ion-label color="primary" class="p-style-tab">Promotions</ion-label>
                            <ion-icon name="person-add" size="large" color="primary"></ion-icon>
                    </ion-tab-button>
                    
                    </ion-tab-bar>
            </ion-tabs>
        </ion-toolbar>
</ion-footer>

