.top-bg-color {
    --background: rgb(25,89,116);
 }
 
 .top-color {
     color: #fff;
 }

 .p-style {
    font-family: 'Roboto';
    
   font-size: 10px !important;
 }
 
 .content-bg-color {
    --background: #EEF2F3;
 }

 .privacy-bg {
   background: #EEF2F3;
}
 .ion-item {
   border-bottom: 1px solid #fff;
 }
 .underline {
   border-bottom: #ffffff solid 1px;
 }