<ion-header>
  <ion-toolbar class="top-bg-color top-color">
    <ion-buttons slot="start"> 
        <ion-menu-button class="top-color"></ion-menu-button>
    </ion-buttons>
    <ion-title >Contact</ion-title>
    <ion-buttons slot="end">
          <a href="/notifications" style="color:white">
              <ion-icon name="notifications"  size="large" ></ion-icon>
              </a>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content class="content-bg-color" ion-padding-left ion-padding-right>
<ion-text>Comming Soon</ion-text>
</ion-content>
<ion-footer>
                <ion-toolbar class="tbar-color">
                        <ion-tabs> 
                                <ion-tab-bar slot="bottom">
                                <ion-tab-button href="dashboard" color="primary">
                                        <ion-label color="call" class="p-style">Home</ion-label>
                                        <ion-icon name="home" size="large" color="primary"></ion-icon>
                                </ion-tab-button>
                               
                                <ion-tab-button  href="profile" color="medium"  color="medium">
                                <ion-label color="medium" class="p-style">Profile</ion-label>
                                <ion-icon name="person" size="large" color="medium"></ion-icon>
                                </ion-tab-button>
                                <ion-tab-button href="workouts" color="medium">
                                  <ion-label color="medium" class="p-style">Booking</ion-label>
                                  <ion-icon name="aperture" size="large" color="medium"></ion-icon>
                                  
                                </ion-tab-button>
                                <ion-tab-button  href="services" color="medium"  color="medium">
                                                <ion-label color="medium" class="p-style">Services</ion-label>
                                                <ion-icon name="apps" size="large" color="medium"></ion-icon>
                                 </ion-tab-button>
                                <ion-tab-button href="schedules" color="medium">
                                        <ion-label color="medium" class="p-style">Promotions</ion-label>
                                        <ion-icon name="person-add" size="large" color="medium"></ion-icon>
                                </ion-tab-button>
                                
                                </ion-tab-bar>
                        </ion-tabs>
                    </ion-toolbar>
        </ion-footer>
        
        