ion-card {
  --border-radius: 15px; 
  outline: 0px;
  margin: 5px 0px 5px 0px;
}

.card-content {
  padding-top: 6px !important;
  padding-bottom: 6px !important; 
}

p {
   color: var(--ion-color-dark);
   overflow: inherit; 
   font-size: 14px;
   line-height: 1.3;
   line-height: normal;
}

ion-item {
   --inner-padding-end: 0px !important;
}
.top-color {
   color: #fff;
}

.pd-t {
   padding-top: 5px;
   padding-right: 5px; 
}

.card-title {
  font-size: 18px;
  padding-bottom: 8px;
  width:50%;
  border-bottom: 1px solid #B3B3B3;
}

.card-detail {
   margin: 10px 0px 0px 5px;
}