.top-color {
    color: #fff;
}

.card {
    border-radius: 15px;
}

.border-top {
    border-top: 1px solid #E9E8E8;
}

.border-bottom {
   border-bottom: 1px solid #E9E8E8;
}

p {
   font-size: 15px;
   margin-top: 15px !important;
}

.card {
   margin: 2px;
   position: relative;
}

.img {
   border-radius: 15px;
}

.pos-relative {
    position: relative;
}

ion-progress-bar {
   padding: 6px;
   border-radius: 5px;   
}

.item-checkbox-img {
   vertical-align: middle;
   position: absolute;
   top: 0px;
   right: 15px;
   height:100%;
 }
 
.checkbox {
   position: absolute;
   top: 2px;
   right: 3px;
}

.available-time {
   --background-activated: var(--ion-color-primary) !important; 
   --background: #CBCBCB;
   --color-activated: #fff;
   --color: var(--ion-color-dark) !important;
   margin: 0px;
}

.notAvailable-time {
   --background-activated: none !important; 
   --background: #CBCBCB;
   --color-activated: #fff;
   --color: var(--ion-color-dark) !important;
   margin: 0px;
}

.after-available {
   --background: #f6f6f6;
   --color: var(--ion-color-dark) !important;
   margin: 0px;
}


ion-range {
   --bar-height: 10px;
   --bar-border-radius: 5px;
}

.row {
   background: #FEFEFE;
}.top-color {
     color: #fff;
 }

 .card {
     border-radius: 15px;
 }

 .border-top {
     border-top: 1px solid #E9E8E8;
 }

 .border-bottom {
    border-bottom: 1px solid #E9E8E8;
}

p {
    font-size: 15px;
    margin-top: 15px !important;
}

.card {
    margin: 2px;
    position: relative;
}

.img {
    border-radius: 15px;
 }

 .pos-relative {
     position: relative;
 }

 ion-progress-bar {
    padding: 6px;
    border-radius: 5px;   
}

.item-checkbox-img {
    vertical-align: middle;
    position: absolute;
    top: 0px;
    right: 15px;
    height:100%;
  }
  
.checkbox {
    position: absolute;
    top: 2px;
    right: 3px;
}

.available-time {
    --background-activated: var(--ion-color-primary) !important; 
    --background: #CBCBCB;
    --color-activated: #fff;
    --color: var(--ion-color-dark) !important;
    margin: 0px;
}

.notAvailable-time {
    --background-activated: none !important; 
    --background: #CBCBCB;
    --color-activated: #fff;
    --color: var(--ion-color-dark) !important;
    margin: 0px;
}

.after-available {
    --background: #f6f6f6;
    --color: var(--ion-color-dark) !important;
    margin: 0px;
}


ion-range {
    --bar-height: 10px;
    --bar-border-radius: 5px;
}

.row {
    background: #FEFEFE;
}.top-color {
     color: #fff;
 }

 .card {
     border-radius: 15px;
 }

 .border-top {
     border-top: 1px solid #E9E8E8;
 }

 .border-bottom {
    border-bottom: 1px solid #E9E8E8;
}

p {
    font-size: 15px;
    margin-top: 15px !important;
}

.card {
    margin: 2px;
    position: relative;
}

.img {
    border-radius: 15px;
 }

 .pos-relative {
     position: relative;
 }

 ion-progress-bar {
    padding: 6px;
    border-radius: 5px;   
}

.item-checkbox-img {
    vertical-align: middle;
    position: absolute;
    top: 0px;
    right: 15px;
    height:100%;
  }
  
.checkbox {
    position: absolute;
    top: 2px;
    right: 3px;
}

.available-time {
    --background-activated: var(--ion-color-primary) !important; 
    --background: #CBCBCB;
    --color-activated: #fff;
    --color: var(--ion-color-dark) !important;
    margin: 0px;
}

.notAvailable-time {
    --background-activated: none !important; 
    --background: #CBCBCB;
    --color-activated: #fff;
    --color: var(--ion-color-dark) !important;
    margin: 0px;
}

.after-available {
    --background: #f6f6f6;
    --color: var(--ion-color-dark) !important;
    margin: 0px;
}


ion-range {
    --bar-height: 10px;
    --bar-border-radius: 5px;
}
.available-time {
    background-color: #CBCBCB !important;
    padding: 6px;
    margin: 0px;
    border-radius: 15px;
}
.row {
    background: #FEFEFE;
}