<ion-header ios="ios">
  <ion-toolbar color="primary" class="top-color">
<ion-buttons slot="start">
  <ion-back-button defaultHref="/schedules" color="light"></ion-back-button>
  </ion-buttons>
  <ion-title color="light">Promotion Detail</ion-title>
  </ion-toolbar> 
</ion-header>
<ion-content class="content-bg-color" no-padding-top>
  <ion-grid class="grid">
    <ion-row>
            <ion-col size="12">
                    <ion-card no-margin>
                            <ion-card-header class="card-header" no-padding>
                                    <img class="img" src="../../assets/img/dashboard.fw.png" alt="Card img">
                                    <!-- <h3 class="centered">Title of Promotions</h3> -->
                            </ion-card-header>
                            
                            <ion-card-content >
                                    <ion-row padding-top>
                                        <ion-col size="12">
                                                <ion-card-subtitle class="card-subtitle-style" color="dark">
                                                    Title of Promotions
                                                </ion-card-subtitle>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                            <ion-col size="12">
                                                    <div class="ion-text-center">
                                                            <div class="ion-text-center">
                                                                  <p class="p-style ion-text-left">
                                                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                                                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced 
                                                                    in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                                                                  </p>
                                                            </div>  
                                                    </div>            
                                            </ion-col>
                                    </ion-row>
                            </ion-card-content>
                    </ion-card>
            </ion-col>
    </ion-row>
</ion-grid>
    </ion-content>